


*{
    margin: 0;
    padding: 0;
}



:root{
  --body-bg:rgb(255, 255, 255);
  --body-color:rgb(0, 0, 0);
  --link-color:rgb(0, 255, 221);
  --link-color-hover:rgb(3, 18, 153);
  --p-color:rgb(0, 0, 0);
}



.dark-mode:root{
  --body-bg:rgb(97, 94, 94);
  --body-color:rgb(255, 255, 255);
  --link-color:rgb(255, 255, 255);
  --link-color-hover:rgb(0, 255, 21);
  --p-color:rgb(255, 255, 255);
}








body{
  background-color: var(--body-bg);
  color: var(--body-color);
}

a{
  color: var(--link-color);
}

a:hover{
  color: var(--link-color-hover);
}
.dark{
  margin-top: 10px;
text-align: right;
margin-right: 20px;
}

.imgclass{
  width: 600px;
  height: 400px;
 
}

.navbar {
    background: linear-gradient(to right,white 39% ,#1E3A8A 58% ); /* Gradiente azul para branco */
  }

  span{
    font-weight: 700;
    font-size: 30px;
  
}

.container{
   margin-top: 20px;
   
}


.photo img{
    width: 60%;
}


footer {
    margin-top: 30px;
    margin-bottom: -20px;
    background-color: rgba(3, 58, 177, 0.897);
    border: solid 2px black;
  }


  
  footer p {
    font-size: 16px;
  }
  
  .icones {
    list-style: none;
  }
  
  .icones li {
    display: inline-block;
    margin-right: 30px;
  }
  
  .icones li:hover {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 60px;

  }
  
  .icones img {
    width: 20px;
  }
  
  .photo p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  }

 