.cores MenuPadrao_linear{
    color: #FFFFFF;
    color: #1E3A8A;
    color: #1E3A8A;
}


.cores MenuMine_Linear{
    color: #FFFFFF;
    color: #1E3A8A;
    color: #1E3A8A;
}

*{
    margin: 0;
    padding: 0;
}

.imgclass{
  width: 600px;
  height: 400px;
 
}

.navbar {
    background: linear-gradient(to right,white 39% ,#1E3A8A 58% ); /* Gradiente azul para branco */
  }

  span{
    font-weight: 700;
    font-size: 30px;
  
}

.container{
   margin-top: 20px;
   
}


.photo img{
    width: 60%;
}


footer {
    margin-top: 30px;
    margin-bottom: -20px;
    background-color: rgba(3, 58, 177, 0.897);
    border: solid 2px black;
  }
  
  footer p {
    font-size: 16px;
  }
  
  .icones {
    list-style: none;
  }
  
  .icones li {
    display: inline-block;
    margin-right: 30px;
  }
  
  .icones li:hover {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 60px;

  }
  
  .icones img {
    width: 20px;
  }
  