.cores MenuPadrao_linear{
    color: #FFFFFF;
    color: #1E3A8A;
    color: #1E3A8A;
}


.cores MenuMine_Linear{
    color: #FFFFFF;
    color: #1E3A8A;
    color: #1E3A8A;
}

*{
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(to right,white 39% ,#1E3A8A 58% ); /* Gradiente azul para branco */
  }

  span{
    font-weight: 700;
    font-size: 30px;
  
}

.container{
   margin-top: 20px;
   
}

.photo img{
    width: 60%;
}



.container img{
    border: solid 3px rgb(0, 0, 0);
    
}